@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Solway';
  src: url('/fonts/Solway/Solway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Solway';
  src: url('/fonts/Solway/Solway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TeX Gyre Termes';
  src: url('/fonts/TeX-Gyre-Termes/texgyretermes-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TeX Gyre Termes';
  src: url('/fonts/TeX-Gyre-Termes/texgyretermes-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for clean horizontal scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
